* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

#record-disc {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 80vw;
    border-radius: 1000px;
    border: 1vw solid white;
    background-color: black;
    animation: disc-spin 5s linear 0s infinite forwards;
}

#record-disc p {
    position: absolute;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: rotate(180deg);
    font-size: 5vw;
    text-align: center;
}

#disc-label {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 1 / 1;
    width: 33%;
    border-radius: 1000px;
    background-color: white;
}

#disc-hole {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    aspect-ratio: 1 / 1;
    width: 25%;
    border-radius: 1000px;
    background-color: black;
}

@keyframes disc-spin {
    0% {transform: perspective(1000px) rotateX(60deg) rotateZ(0deg);}
    100% {transform: perspective(1000px) rotateX(60deg) rotateZ(360deg);}
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px black;
}

h1, h2 {
    padding: 1em;
    text-align: center;
}

main {
    background-color: hsla(0, 0%, 0%, 0.6);
}

h2 {
    margin-top: 1em;
}

main section ul {
    list-style-type: none;
}

main section ul li a {
    display: block;
    padding: 2em 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

footer {
    padding: 2em 1em;
}

footer p {
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: chartreuse;
}

@media screen and (min-width: 810px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vw;
    }

    main {
        display: flex;
    }

    main section {
        flex: 1;
    }

    main section ul {
        display: flex;
        flex-direction: column;
    }

    main section ul li {
        flex: 1;
    }

    main section ul li a {
        padding: auto 1em 1em 1em;
        text-align: end;
    }

}