* {
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

#record-disc {
    position: absolute;
    top: -100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    aspect-ratio: 1 / 1;
    width: 200px;
    border-radius: 1000px;
    border: 10px solid white;
    background-color: black;
    animation: disc-spin 10s linear 0s infinite forwards;
}

#record-dic p {
    position: absolute;
}

#disc-label {
    position: absolute;
    margin: auto;
    aspect-ratio: 1 / 1;
    width: 33%;
    border-radius: 1000px;
    background-color: white;
}

#disc-hole {
    position: absolute;
}

@keyframes disc-spin {
    0% {transform: perspective(1000px) rotateX(80deg) rotateZ(0deg);}
    100% {transform: perspective(1000px) rotateX(80deg) rotateZ(360deg);}
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

h1, h2 {
    padding: 1em;
    text-align: center;
}

main {
}

main section {
}

h2 {
    margin-top: 1em;
}

main section ul {
    list-style-type: none;
}

main section ul li {
}

main section ul li a {
    display: block;
    padding: 2em 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
    background-image: url("images/kibby.jpg");
    background-color: dimgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
    color: white;
}

footer {
    padding: 2em 1em 1em 1em;
}

footer p {
    text-align: center;
}

footer p a {
    text-decoration: none;
    color: chartreuse;
}

@media screen and (min-width: 810px) {
    main {
        display: flex;
    }

    main section {
        flex: 1;
    }

    main section ul {
        display: flex;
        flex-direction: column;
    }

    main section ul li {
        flex: 1;
    }

    main section ul li a {
        padding: auto 1em 1em 1em;
        text-align: end;
    }

    main section ul li a:hover {
        background-blend-mode: normal;
    }

}