body {
    background-color: black;
    color: white;
}

#record-disc {
    aspect-ratio: 1 / 1;
    width: 80vw;
    margin: auto;
    border-radius: 1000px;
    border: 2px solid white;
    animation: disc-spin 10s linear 0s infinite forwards;
}

@keyframes disc-spin {
    0% {transform: perspective(1000px) rotateX(70deg) rotateZ(0deg);}
    50% {transform: perspective(1000px) rotateX(70deg) rotateZ(180deg);}
    100% {transform: perspective(1000px) rotateX(70deg) rotateZ(360deg);}
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

main {
}

main section {
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

main section ul {
    list-style-type: none;
}

main section ul li {
}

main section ul li a {
    display: block;
    padding: 3em 2em 1em 2em;
    text-decoration: none;
    text-transform: uppercase;
    text-align: end;
    color: white;
}