* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
    color: #fff;
    background-color: #202020;
}


/* TYPOGRAPHY */

h1, h1 b, #sitePageForm header .firstQuote, h2, h3, h3 b, #sitePageResults article .firstQuote, button, input, label, .hint {
    line-height: 100%;
}

h1, h1 b, #sitePageForm header .firstQuote {
    font-size: 48px;
}

h1, h1 b, #sitePageForm header .firstQuote, button, label {
    font-weight: 700;
}

h2 {
    font-weight: 900;
    letter-spacing: 0.05em;
}

h2, h3, h3 b, #sitePageResults article .firstQuote {
    font-size: 40px;
}

h3, h3 b, #sitePageResults article .firstQuote {
    font-weight: 800;
    text-transform: capitalize;
}

p, p b, label {
    font-size: 16px;
}

p, input, .hint {
    font-weight: 400;
}

p, p b {
    line-height: 150%;
}

p b {
    font-weight: 600;
}

button, input, .hint {
    font-size: 14px;
}

button, input {
    letter-spacing: 0.1em;
}

input {
    text-transform: uppercase;
}

/*
.displayNone {
    display: none;
}
*/


/* MOBILE LAYOUT */

#sitePageForm header {
    display: grid;
    margin-top: 5em;
}

#sitePageForm header .firstQuote {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
}

#sitePageForm header h1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
}

#sitePageForm header #blurb {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
}

#sitePageForm header img {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    place-self: center;
    margin: 0;
}


/* DESKTOP LAYOUT */

@media screen and (min-width: 800px) {
    #sitePageForm, #sitePageResults {
        width: 1200px;
        height: 750px;
    }
}